In [105]:
import pandas as pd
filepath = "Resources/purchase_data.csv"
game = pd.read_csv(filepath)
game.head(25)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19

In [106]:
print((pd.DataFrame({"Total Players":[len(game["SN"].unique())]})).to_string(index=False))

 Total Players
           576

In [107]:
print(pd.DataFrame({
    "Number of Unique Items":[len(game["Item Name"].unique())],
    "Average Price":[game["Price"].mean()],
    "Number of Purchases":[len(game.index)],
    "Total Revenue":[game["Price"].sum()],
}).to_string(index=False))

 Number of Unique Items  Average Price  Number of Purchases  Total Revenue
                    179       3.050987                  780        2379.77

In [363]:
#game.groupby(["Gender"])[["Total Count","Percentage of Players"]].sum()

In [7]:
#create new variables for each gender counts, then calculate each as a % and construct raw DF with variables

In [110]:
gender_purchase = game.groupby(["SN","Gender"])[["Price"]].sum()
gender_purchase.sort_index(ascending=True)
gender_purchase

                      Price
SN            Gender
Adairialis76  Male     2.28
Adastirin33   Female   4.48
Aeda94        Male     4.91
Aela59        Male     4.32
Aelaria33     Male     1.79
...                     ...
Yathecal82    Female   6.22
Yathedeu43    Male     6.02
Yoishirrala98 Female   4.58
Zhisrisu83    Male     7.89
Zontibe81     Male     8.03

[576 rows x 1 columns]

In [50]:
gen_male = game.loc[game["Gender"] == "Male",:]
gen_female = game.loc[game["Gender"] == "Male", :]
gen_other = game.loc[game["Gender"] == "Other / Non-Disclosed", :]

In [61]:
game.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Total Count,Percentage of Players
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,1,0.001282
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,1,0.001282
2,2,Ithergue48,24,Male,92,Final Critic,4.88,1,0.001282
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,1,0.001282
4,4,Iskosia90,23,Male,131,Fury,1.44,1,0.001282

In [67]:
game_SNnorep = game.groupby(["SN"]).mean()
game_SNnorep

,Purchase ID,Age,Item ID,Price,Total Count,Percentage of Players
SN,,,,,,
Adairialis76,467.000000,16.0,123.000000,2.280000,1.0,0.001282
Adastirin33,142.000000,35.0,175.000000,4.480000,1.0,0.001282
Aeda94,388.000000,17.0,128.000000,4.910000,1.0,0.001282
Aela59,28.000000,21.0,119.000000,4.320000,1.0,0.001282
Aelaria33,630.000000,23.0,171.000000,1.790000,1.0,0.001282
...,...,...,...,...,...,...
Yathecal82,466.666667,20.0,80.333333,2.073333,1.0,0.001282
Yathedeu43,344.000000,22.0,71.500000,3.010000,1.0,0.001282
Yoishirrala98,572.000000,17.0,145.000000,4.580000,1.0,0.001282
Zhisrisu83,97.500000,10.0,42.500000,3.945000,1.0,0.001282
Zontibe81,339.666667,21.0,82.333333,2.676667,1.0,0.001282

In [101]:
top5items = game.groupby(["Item Name"]).count()
top5items = top5items.sort_values(by="Purchase ID",ascending=False)
top5items["Purchase Count"] = top5items["Purchase ID"]
top5items = top5items.loc[:,["Item ID","Purchase Count","Price"]]
top5items.head(5)

                                              Item ID  Purchase Count  Price
Item Name
Final Critic                                       13              13     13
Oathbreaker, Last Hope of the Breaking Storm       12              12     12
Persuasion                                          9               9      9
Nirvana                                             9               9      9
Extraction, Quickblade Of Trembling Hands           9               9      9

In [99]:
top5items = game.groupby(["Item Name"])[["Item ID"]].count()
top5items.sort_values(by="Item ID",ascending=False).head(10)

                                              Item ID
Item Name
Final Critic                                       13
Oathbreaker, Last Hope of the Breaking Storm       12
Persuasion                                          9
Nirvana                                             9
Extraction, Quickblade Of Trembling Hands           9
Fiery Glass Crusader                                9
Pursuit, Cudgel of Necromancy                       8
Brutality Ivory Warmace                             8
Singed Scalpel                                      8
Shadow Strike, Glory of Ending Hope                 8

In [112]:
game.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [137]:
top5items = game.loc[:,["Item ID","Item Name","Price"]]
top5items = top5items.groupby(["Item ID","Item Name"]).sum()
top5items["Purchase Count"] = game.loc[game["Item Name"] == top5items.loc[top5items["Item Name"],"Price"]]
top5items

KeyError: 'Item Name'

In [209]:
top5itemsC = game.groupby(["Item ID","Item Name"])[["Purchase ID"]].count()
top5itemsM = game.groupby(["Item ID","Item Name"])[["Price"]].mean()
top5itemsS = game.groupby(["Item ID","Item Name"])[["Price"]].sum()
top5_merge = pd.merge(top5itemsC,top5itemsM,on=["Item ID","Item Name"])
top5_merge = pd.merge(top5_merge,top5itemsS,on=["Item ID","Item Name"])
top5_merge.rename(columns = {"Purchase ID":"Purchase Count","Price_x":"Item Price","Price_y":"Total Purchase Value"},inplace=True)
top5_items = top5_merge.sort_values(by=['Purchase Count'],ascending=False).head(5)
top5_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [265]:
spenderzC = game.groupby(["SN"])[["Purchase ID"]].count()
spenderzS = game.groupby(["SN"])[["Price"]].mean()
spenderzM = game.groupby(["SN"])[["Price"]].sum()
spenderz_merge = pd.merge(spenderzC,spenderzS,on=["SN"])
spenderz_merge = pd.merge(spenderz_merge,spenderzM,on=["SN"])
spenderz_merge = spenderz_merge.rename(columns = {"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"})
top5_spenderz = spenderz_merge.nlargest(5, "Total Purchase Value", keep='first')
top5_spenderz.style.format({
    "Average Purchase Price":"${:20,.2f}",
    "Total Purchase Value":"${:20,.2f}"
})

In [271]:
top5_items = top5_merge.sort_values(by=['Purchase Count'],ascending=False)
game.loc[game["Item Name"] == "Final Critic",:]

     Purchase ID            SN  Age  Gender  Item ID     Item Name  Price
2              2    Ithergue48   24    Male       92  Final Critic   4.88
99            99  Haisrisuir60   23    Male      101  Final Critic   4.19
252          252      Tyaelo67   39    Male       92  Final Critic   4.88
273          273      Phyali88   15  Female       92  Final Critic   4.88
277          277    Ennalmol65   24    Male       92  Final Critic   4.88
411          411      Lisico81   10    Male      101  Final Critic   4.19
536          536   Siallylis44   20    Male      101  Final Critic   4.19
712          712     Lisilsa62   25    Male       92  Final Critic   4.88
722          722      Ilarin91   22    Male       92  Final Critic   4.88
767          767       Ilmol66    8  Female       92  Final Critic   4.88
768          768  Assassasta79   38    Male       92  Final Critic   4.88
774          774    Jiskjask80   11    Male      101  Final Critic   4.19
778          778       Sisur91    7    Male      101  Final Critic   4.19

In [290]:
bins = [0,9,14,19,24,29,34,39,game["Age"].max()]
nameobins = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
game["Age Range"] = pd.cut(game["Age"],bins, labels=nameobins, include_lowest=True)

In [359]:
PC = game.groupby(["Age Range"])[["Purchase ID"]].count()
APP = game.groupby(["Age Range"])[["Price"]].mean()
TPV = game.groupby(["Age Range"])[["Price"]].sum()
personz = game.groupby(["Age Range"])[["SN"]].nunique()

ultima = pd.merge(PC,APP,on=["Age Range"])
ultima = pd.merge(ultima,TPV,on=["Age Range"])
ultima = pd.merge(ultima,personz,on=["Age Range"])
ultima["SN"] = ultima["Price_y"]/ultima["SN"]

ultima.rename(columns = {"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value","SN":"Avg Total Purchase per Person"},inplace=True)

ultima = ultima.style.format({
    "Average Purchase Price":"${:20,.2f}",
    "Total Purchase Value":"${:20,.2f}",
    "Avg Total Purchase per Person":"${:20,.2f}"
})

ultima

In [361]:
top5_items = top5_merge.sort_values(by=['Total Purchase Value'],ascending=False).head(5)
top5_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80

In [385]:
TC = game.groupby(["Age Range"])[["SN"]].nunique()
Percent = game.groupby(["Age Range"])[["SN"]].nunique()
agedemo = pd.merge(TC,Percent,on=["Age Range"])
agedemo["SN_y"]=(agedemo["SN_y"]/len(game["SN"].unique()))*100

agedemo.rename(columns = {"SN_x":"Total Count","SN_y":"Percentage of Players"},inplace=True)

agedemo = agedemo.style.format({
    "Percentage of Players":"{:0,.2f}%"
})

agedemo