In [1]:
import pandas as pd
filepath = "Resources/purchase_data.csv"
game = pd.read_csv(filepath)
game.head(25)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19

In [15]:
print((pd.DataFrame({"Total Players":[len(game["SN"].unique())]})).to_string(index=False))

 Total Players
           576

In [22]:
print(pd.DataFrame({
    "Number of Unique Items":[len(game["Item Name"].unique())],
    "Average Price":[game["Price"].mean()],
    "Number of Purchases":[len(game.index)],
    "Total Revenue":[game["Price"].sum()],
}).to_string(index=False))

 Number of Unique Items  Average Price  Number of Purchases  Total Revenue
                    179       3.050987                  780        2379.77

In [26]:
game.groupby(["Gender"]).sum()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60978  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

In [32]:
game["Total Count"]=1
game["Percentage of Players"]=1/(len(game.index))
game.groupby(["Gender"])[["Total Count","Percentage of Players"]].sum()

                       Total Count  Percentage of Players
Gender
Female                         113               0.144872
Male                           652               0.835897
Other / Non-Disclosed           15               0.019231