In [1]:
import pandas as pd
filepath = "Resources/purchase_data.csv"
game = pd.read_csv(filepath)
game.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [2]:
totalN = pd.DataFrame({"Total Players":[len(game["SN"].unique())]})
totalN

   Total Players
0            576

In [3]:
purch = pd.DataFrame({
    "Number of Unique Items":[len(game["Item ID"].unique())],
    "Average Price":[game["Price"].mean()],
    "Number of Purchases":[len(game.index)],
    "Total Revenue":[game["Price"].sum()],
})
purch = purch.style.format({
    "Average Price":"${:0,.2f}",
    "Total Revenue":"${:0,.2f}"
})
purch

In [4]:
gendemoTC = game.groupby(["Gender"])[["SN"]].nunique()
gendemoPC = game.groupby(["Gender"])[["SN"]].nunique()
gendemo = pd.merge(gendemoTC,gendemoPC,on=["Gender"])
gendemo["SN_y"]=(gendemo["SN_y"]/(len(game["SN"].unique())))*100
gendemo.rename(columns={"SN_x":"Total Count",
    "SN_y":"Percentage of Players"},inplace=True)
gendemo = gendemo.style.format({
    "Percentage of Players":"{:0,.2f}%"
})
gendemo

In [5]:
genpurchPC = game.groupby(["Gender"])[["Purchase ID"]].count()
genpurchAPP = game.groupby(["Gender"])[["Price"]].mean()
genpurchTPV = game.groupby(["Gender"])[["Price"]].sum()
genpurchATPP = game.groupby(["Gender"])[["SN"]].nunique()

genpurch = pd.merge(genpurchPC,genpurchAPP,on=["Gender"])
genpurch = pd.merge(genpurch,genpurchTPV,on=["Gender"])
genpurch = pd.merge(genpurch,genpurchATPP,on=["Gender"])

genpurch["SN"]=genpurch["Price_y"]/genpurch["SN"]

genpurch.rename(columns={
    "Purchase ID":"Purchase Count",
    "Price_x":"Average Purchase Price",
    "Price_y":"Total Purchase Value",
    "SN":"Avg Total Purchase per Person"}
    ,inplace=True)

genpurch = genpurch.style.format({
    "Average Purchase Price":"${:0,.2f}",
    "Total Purchase Value":"${:0,.2f}",
    "Avg Total Purchase per Person":"${:0,.2f}"
})

genpurch

In [6]:
bins = [0,9,14,19,24,29,34,39,game["Age"].max()]
nameobins = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
game["Age Range"] = pd.cut(game["Age"],bins, labels=nameobins, include_lowest=True)

In [7]:
TC = game.groupby(["Age Range"])[["SN"]].nunique()
Percent = game.groupby(["Age Range"])[["SN"]].nunique()
agedemo = pd.merge(TC,Percent,on=["Age Range"])
agedemo["SN_y"]=(agedemo["SN_y"]/len(game["SN"].unique()))*100

agedemo.rename(columns = {"SN_x":"Total Count","SN_y":"Percentage of Players"},inplace=True)

agedemo = agedemo.style.format({
    "Percentage of Players":"{:0,.2f}%"
})

agedemo

In [8]:
PC = game.groupby(["Age Range"])[["Purchase ID"]].count()
APP = game.groupby(["Age Range"])[["Price"]].mean()
TPV = game.groupby(["Age Range"])[["Price"]].sum()
personz = game.groupby(["Age Range"])[["SN"]].nunique()

ultima = pd.merge(PC,APP,on=["Age Range"])
ultima = pd.merge(ultima,TPV,on=["Age Range"])
ultima = pd.merge(ultima,personz,on=["Age Range"])
ultima["SN"] = ultima["Price_y"]/ultima["SN"]

ultima.rename(columns = {"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value","SN":"Avg Total Purchase per Person"},inplace=True)

ultima = ultima.style.format({
    "Average Purchase Price":"${:20,.2f}",
    "Total Purchase Value":"${:20,.2f}",
    "Avg Total Purchase per Person":"${:20,.2f}"
})

ultima

In [9]:
spenderzC = game.groupby(["SN"])[["Purchase ID"]].count()
spenderzS = game.groupby(["SN"])[["Price"]].mean()
spenderzM = game.groupby(["SN"])[["Price"]].sum()
spenderz_merge = pd.merge(spenderzC,spenderzS,on=["SN"])
spenderz_merge = pd.merge(spenderz_merge,spenderzM,on=["SN"])
spenderz_merge = spenderz_merge.rename(columns = {"Purchase ID":"Purchase Count","Price_x":"Average Purchase Price","Price_y":"Total Purchase Value"})
top5_spenderz = spenderz_merge.nlargest(5, "Total Purchase Value", keep='first')
top5_spenderz = top5_spenderz.style.format({
    "Average Purchase Price":"${:20,.2f}",
    "Total Purchase Value":"${:20,.2f}"
})
top5_spenderz

In [10]:
top5itemsC = game.groupby(["Item ID","Item Name"])[["Purchase ID"]].count()
top5itemsM = game.groupby(["Item ID","Item Name"])[["Price"]].mean()
top5itemsS = game.groupby(["Item ID","Item Name"])[["Price"]].sum()
top5_merge = pd.merge(top5itemsC,top5itemsM,on=["Item ID","Item Name"])
top5_merge = pd.merge(top5_merge,top5itemsS,on=["Item ID","Item Name"])
top5_merge.rename(columns = {"Purchase ID":"Purchase Count","Price_x":"Item Price","Price_y":"Total Purchase Value"},inplace=True)
pop_items = top5_merge.sort_values(by=['Purchase Count'],ascending=False).head(5)
pop_items = pop_items.style.format({
    "Item Price":"${:20,.2f}",
    "Total Purchase Value":"${:20,.2f}",
})
pop_items

In [11]:
prof_items = top5_merge.sort_values(by=['Total Purchase Value'],ascending=False).head(5)
prof_items = prof_items.style.format({
    "Item Price":"${:20,.2f}",
    "Total Purchase Value":"${:20,.2f}",
})
prof_items